<template>
    <div class="container">
        <div class="row mt-5" v-if="$gate.isAdminOrAuthor()">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"> Users Table</h3>
                        <div class="card-tools">
                            
                            <button @click="newModal" class="btn btn-success">Add New <i
                                class="fas fa-user-plus fa-fw"></i></button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Type</th>
                                <th>Registered At</th>
                                <th>Modify</th>
                            </tr>
                            
                            
                            <tr :key="user.id" v-for="user in users">
                                
                                <td>{{user.id}}</td>
                                <td>{{user.name}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.type | upText}}</td>
                                <td>{{user.created_at | myDate}}</td>
                                
                                <td>
                                    <a @click="editModal(user)" href="#">
                                        <i class="fa fa-edit blue"></i>
                                    </a>
                                    /
                                    <a @click="deleteUser(user.id)" href="#">
                                        <i class="fa fa-trash red"></i>
                                    </a>
                                
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <!--<pagination :data="users" @pagination-change-page="getResults"></pagination>-->
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
        
        <div v-if="!$gate.isAdminOrAuthor()">
            <not-found></not-found>
        </div>
        
        <!-- Modal -->
        <div aria-hidden="true" aria-labelledby="addNewLabel" class="modal fade" id="addNew" role="dialog"
             tabindex="-1">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addNewLabel" v-show="!editmode">Add New</h5>
                        <h5 class="modal-title" id="addNewLabel" v-show="editmode">Update User's Info</h5>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="editmode ? validateBeforeUpdate() : validateBeforeCreate()">
                        <div class="modal-body">
                            <div class="form-group">
                                <input :class="{ 'is-invalid': errors.has('name') }" class="form-control"
                                       name="name"
                                       placeholder="Name"
                                       type="text"
                                       v-model="form.name" v-validate="'required'">
                                <has-error :form="form" field="name"></has-error>
                                <span class="text-danger"
                                      v-show="errors.has('name')">{{ errors.first('name') }}</span>
                            </div>
                            
                            <div class="form-group">
                                <input :class="{ 'is-invalid': errors.has('email') }" class="form-control"
                                       name="email"
                                       placeholder="Email Address"
                                       type="email"
                                       v-model="form.email" v-validate="'required'">
                                <has-error :form="form" field="email"></has-error>
                                <span class="text-danger"
                                      v-show="errors.has('email')">{{ errors.first('email') }}</span>
                            </div>
                            
                            <div class="form-group">
                        <textarea :class="{ 'is-invalid': form.errors.has('bio') }" class="form-control" id="bio"
                                  name="bio"
                                  placeholder="Short bio for user (Optional)" v-model="form.bio"></textarea>
                                <has-error :form="form" field="bio"></has-error>
                            </div>
                            
                            
                            <div class="form-group">
                                <select :class="{ 'is-invalid': errors.has('type') }" class="form-control"
                                        id="type" name="type" v-model="form.type" v-validate="'required'">
                                    <option value="">Select User Role</option>
                                    <option value="admin">Admin</option>
                                    <option value="user">Standard User</option>
                                    <option value="author">Author</option>
                                </select>
                                <has-error :form="form" field="type"></has-error>
                                <span class="text-danger"
                                      v-show="errors.has('type')">{{ errors.first('type') }}</span>
                            </div>
                            
                            <div class="form-group">
                                <input :class="{ 'is-invalid': errors.has('password') }" class="form-control"
                                       id="password" name="password"
                                       placeholder="Password"
                                       type="password"
                                       v-model="form.password" v-validate="'required'">
                                <has-error :form="form" field="password"></has-error>
                                <span class="text-danger"
                                      v-show="errors.has('password')">{{ errors.first('password') }}</span>
                            </div>
                            <hr>
                            <label>Languages</label>
                            <div class="form-group">
                                <div class="form-check-inline" v-for="(i, index) in lang">
                                    <label class="form-check-label">
                                        <input :value="index" class="form-check-input" name="language"
                                               type="checkbox" v-model="form.language"
                                               v-validate="'required'">{{i.language}}
                                    </label>
                                </div>
    
                                <div>
                                    {{form.language}}
                                    <span class="text-danger"
                                          v-show="errors.has('language')">{{ errors.first('language') }}</span>
                                </div>

                            </div>
                            <hr>
                            <label>Happy</label>
                            <div class="form-group">
    
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" name="subscribe" type="radio"
                                               v-model="form.happy"
                                               v-validate="'required'" value="Yes">Yes
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" name="happy" type="radio" v-model="form.happy"
                                               v-validate="'required'" value="No">No
                                    </label>
                                </div>
                                <div>
                                    {{form.happy}}
                                    <span class="text-danger"
                                          v-show="errors.has('happy')">{{ errors.first('happy') }}</span>
                                </div>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-danger" data-dismiss="modal" type="button">Close</button>
                            <button class="btn btn-success" type="submit" v-show="editmode">Update</button>
                            <button class="btn btn-primary" type="submit" v-show="!editmode">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                lang: [
                    {language: 'English'},
                    {language: 'French'},
                    {language: 'Malay'},
                    {language: 'Chinese'},
                    {language: 'Korean'}
                ],
                lang2: [],
                editmode: false,
                users: {},
                form: new Form({
                    id: '',
                    name: '',
                    email: '',
                    password: '',
                    type: '',
                    bio: '',
                    photo: '',
                    language: [],
                    happy: '',
                }),
                
            }
        },
        methods: {
            validateBeforeCreate() {
                this.$validator.validateAll().then(result => {
                    if (result) {
                        // eslint-disable-next-line
                        //alert('Form Create Submitted!');
                        this.createUser();
                        //this.test();
                        console.log(result);
                        return;
                    }
                    console.log(result);
                    swal("Failed!", "Please complete the form before submit!", "warning");
                });
            },
            validateBeforeUpdate() {
                this.$validator.validateAll().then(result => {
                    if (result) {
                        // eslint-disable-next-line
                        //alert('Form Update Submitted!');
    
                        this.updateUser();
                        //this.test();
                        console.log(result);
                        return;
                    }
                    console.log(result);
                    swal("Failed!", "Please complete the form before submit!", "warning");
                });
            },
            getResults(page = 1) {
                axios.get('api/user?page=' + page)
                    .then(response => {
                        this.users = response.data;
                    });
            },
            updateUser() {
                this.$Progress.start();
                // console.log('Editing data');
                this.form.put('api/user/' + this.form.id)
                    .then(() => {
                        // success
                        $('#addNew').modal('hide');
                        swal(
                            'Updated!',
                            'Information has been updated.',
                            'success'
                        )
                        this.$Progress.finish();
                        Fire.$emit('AfterCreate');
                    })
                    .catch(() => {
                        this.$Progress.fail();
                    });
                
            },
            editModal(user) {
                this.editmode = true;
                this.form.reset();
                $('#addNew').modal('show');
                this.form.fill(user);
                this.lang2 = user.language;
                //console.log(user.language);
                this.lang3 = JSON.parse(this.lang2);
                console.log(this.lang3);
                this.form.language = this.lang3.language
                /*setTimeout(_=>{
                    //receive your data here
                    this.form.language = this.lang2.language
                },3000)*/
                //this.form.language = user.language;
                /*this.form.language = [
                    { language: 'English' },
                    { language: 'Malay' }
                ];*/
                
            },
            newModal() {
                this.editmode = false;
                this.form.reset();
                $('#addNew').modal('show');
            },
            deleteUser(id) {
                swal({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    
                    // Send request to the server
                    if (result.value) {
                        this.form.delete('api/user/' + id).then(() => {
                            swal(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                            )
                            Fire.$emit('AfterCreate');
                        }).catch(() => {
                            swal("Failed!", "There was something wrong.", "warning");
                        });
                    }
                })
            },
            loadUsers() {
                if (this.$gate.isAdminOrAuthor()) {
                    axios.get("api/user")
                        .then(response => (this.users = response.data))
                        .catch(error => console.log(error.response.data));
                    /*axios.get("api/user").then(({ data }) => (this.users = data));*/
                }
            },
            
            createUser() {
                this.$Progress.start();
                
                this.form.post('api/user')
                    .then(() => {
                        Fire.$emit('AfterCreate');
                        $('#addNew').modal('hide')
                        
                        toast({
                            type: 'success',
                            title: 'User Created in successfully'
                        })
                        this.$Progress.finish();
                        
                    })
                    .catch(() => {
                    
                    })
            },
            
        },
        created() {
            this.loadUsers();
            Fire.$on('AfterCreate', () => {
                this.loadUsers();
            });
            //    setInterval(() => this.loadUsers(), 3000);
            
        },
        
    }
</script>
