<template>
    <div>
        <top-menu></top-menu>
    </div>
</template>

<script>
    import TopMenu from './TopMenu.vue';
    
    export default {
        components: {
            'top-menu': TopMenu,
            
        }
    }
</script>


