<template>
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand bg-light navbar-light border-bottom">
        
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
            </li>
            
            <li class="nav-item dropdown">
                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                   data-toggle="dropdown" href="#" role="button">
                    {{ $t("auth.current_lang") }}
                </a>
                <!--<a v-if="this.$locale.current() == 'my'"  class="nav-link dropdown-toggle" href="#" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ $t("auth.current_lang") }}
                </a>-->
                <div class="dropdown-menu">
                    <a :key="key" @click.prevent="changeLang(key)" class="dropdown-item" href="#"
                       v-for="(value, key) in states">
                        {{ value }}
                    </a>
                </div>
            </li>
        
        </ul>
        
        <!-- SEARCH FORM -->
        <form class="form-inline ml-3">
            <div class="input-group input-group-sm">
                <input aria-label="Search" class="form-control form-control-navbar" placeholder="Search" type="search">
                <div class="input-group-append">
                    <button class="btn btn-navbar" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    
    </nav>
    <!-- /.navbar -->

</template>

<script>
    export default {
        data() {
            return {
                states: [],
                
            }
        },
        methods: {
            
            changeLang: function (newLang) {
                console.log(newLang);
                axios.post('api/setlocale', {
                    lang: newLang,
                    
                }).then(
                    this.$locale.change(newLang),
                    //i18n.locale = newLang
                    //this.$router.go(this.$router.currentRoute)
                ).then(function () {
                    // always executed
                    
                    window.location = window.location.href;
                    
                });
                
                //axios.get('api/getlocale');
                
            },
            
        },
        created() {
            
            axios.get('api/states')
                .then(response => this.states = response.data)
                .catch(error => console.log(error.response.data));
            
            axios.get('api/getlocale')
                .then(
                    response => this.$locale.change(response.data),
                    //response => i18n.locale = response.data
                    //this.$locale.change(response =>response.data)
                )
                .catch(error => console.log(error.response.data));
            
        },
        
    }
</script>

